/* Styles for the message box */
.message-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 0px;
    z-index: 9999;
  }
  
  .message-content {
    text-align: center;
    font-size: 18px;
  }
  
  .message-box.success {
    background-color: #4CAF50;
    color: white;
  }
  
  .message-box.failure {
    background-color: red;
    color: white;
  }
  
  .message-image {
    width: 50%;
    height: 50%;
    
   
  }
  /* Styles for the "LEVEL 1" button */
#level1Button {
    background-color: #3498db; /* Default button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Hover effect transition */
    position: absolute;
    margin-left: 19.5%;
    margin-top: 5%;
    width: 10%;
}

#level1Button:hover {
    background-color: #2980b9; /* Button color on hover */
}

/* Style for the hidden content */
.hidden-content {
    display: none;
}



#level2Button {
  background-color: #3498db; /* Default button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Hover effect transition */
  position: absolute;
  margin-left: 19.5%;
  margin-top: 9%;
  size: 50%;
  width: 10%;
}

#level2Button:hover {
  background-color: #2980b9; /* Button color on hover */
}

/* Style for the hidden content */
.hidden-content2 {
  display: none;
}

  /* Your CSS styles here */
.hidden-content3 {
  display: none;
}

.tasu{
  background-color: red; /* Default button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Hover effect transition */
  position: absolute;
  margin-left: -30%;
  size: 50%;
  width: 10%;
}
.box2{
  background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 19.5%;
  position: absolute;
  width: 100%;
}

.vl2{
  border-left: 3px solid green;
height: 1000px;
position: absolute;
margin-left:-20% ;
margin-top: 8%;
background-repeat: no-repeat;
}
#checkButton5 {
  background-color: #007bff;
  color: #fff;
  border: none;
}
#checkButton6 {
  background-color: #007bff;
  color: #fff;
  border: none;
}
#checkButton7 {
  background-color: #007bff;
  color: #fff;
  border: none;
}
#checkButton8{
  background-color: #007bff;
  color: #fff;
  border: none;
}
.message-box2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0px;
  z-index: 9999;
}

.message-content2 {
  text-align: center;
  font-size: 18px;
}

.message-box2.success {
  background-color: #4CAF50;
  color: white;
}

.message-box2.failure {
  background-color: red;
  color: white;
}

.message-image2 {
  width: 50%;
  height: 50%;
  
}
