* {
    font-family: 'JetBrains Mono', monospace;
}

#navigation-panel {
    width: 50vh;
    border-radius: 10px 0px 0px 10px;
    margin: 30px 0px 0px 24px;
    /* top right bottom left */
    height: 90vh;
    background-color: #B8E3FF;

}

#workspace {
    width: 940px;
    background-color: #B8E3FF;
    border-radius: 0px 10px 10px 0px;
    margin: 30px 45px 0px 10px;
    /* top right bottom left */
    height: 90vh;
}

.simulation-tools{
    margin: 20px 0px 20px 10px;
}
#whatAbout{
    width: 750px;
    margin-left: 25px;
}