$focus-ring-width:1px;

$input-border-color:#0049b7;
$input-color:#0049b7;

$card-border-color:#0049b7;
$card-color:#0049b7;

$accordion-bg:#0049b7;
$accordion-icon-color:#ffffff;
$accordion-button-color:#ffffff;
$accordion-border-color:#ffffff;
$accordion-border-width:3px;
$accordion-color:#ffffff;
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
